page-about {

}

/*.bodyFormat {
    background-color: #00487f;
	background-image: url('./../assets/imgs/bg-fish.jpg');
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
    font-size: 88%;
    color: #46454C;
}

.bodyDiv {
	position: absolute;
    bottom: 5%;
    left: 5%;
    overflow: hidden;
}

.chatADiv {
	background-color: white;
    width: 48%;
    padding-top: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    border-radius: 12px;
}

.logo {
	width: 6.5%;
	height: 6.5%;
}

.slide02 {
	width: unset !important;
}

.slide01 {
	background-color: white;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 20px;
    border-radius: 12px;
    font-size: 64%;
    color: #46454C;
}

div.swiper-pagination {
	bottom: 50px;
	bottom: inherit;
	text-align: left;
}

.swiper-pagination-bullet {
background: #c5cedd;
opacity: 1;
}

.swiper-pagination-bullet-active {
background: #53a6d6;
opacity: 1;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 


.fishName {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #6AB4F5;
}

.price {
	font-family: 'Lekton', sans-serif;
	font-size: 14px;
	color: #62B795;
	letter-spacing: -0.5px;
	line-height: 0.75;
	padding-bottom: 12px;
}

.divSlide {
	text-align: left;
	line-height: 2.1;
	padding-top: 0.5;
	padding-bottom: 5.5px;
}

.button1 {
	background-color: #6AB4F5;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	height: 26.5px;
}*/
