<!--<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>-->


<ion-header>
	<link href="https://fonts.googleapis.com/css?family=Poppins|Open+Sans:800|Lekton:700" rel="stylesheet"> 
	<meta name="viewport" content="width=device-width, initial-scale=0.7"> 
</ion-header>

<ion-content overflow-scroll="false" padding class="bodyFormat">
	<div class="bodyDiv">
		<img class="logo" src="assets/imgs/bot.png" />
		<div class="chatADiv">
			Selamat datang di IKANESIA! Ayo beli ikan kami, ikannya langsung dari nelayan, baru saja ditangkap dan masih sangat segar loh!
		</div>
		<br>
		<div class="chatADiv">
			Slider goes here.
		</div>
		<br>
		<ion-slides pager spaceBetween="10" slidesPerView="3">
			<ion-slide class="slide02">
				<div class="slide01">
				<div class="divSlide">
				<div class="fishName">IKAN TUNA</div>
				<div class="price">
				Rp 22.000/kg</div>
				<ion-icon ios="ios-time" md="md-time"></ion-icon> &nbsp;5 jam yang lalu<br>
				<ion-icon ios="ios-pin" md="ios-pin-outline"></ion-icon> &nbsp;Muara Karang<br>
				</div>
				<button ion-button round class="button1">BELIKAN</button>
				</div>
				<div><br></div>
			</ion-slide>
			<ion-slide class="slide02">
				<div class="slide01">
				<div class="divSlide">
				<div class="fishName">CUMI</div>
				<div class="price">
				Rp 12.000/kg</div>
				<ion-icon ios="ios-time" md="md-time"></ion-icon> &nbsp;3 jam yang lalu<br>
				<ion-icon ios="ios-pin" md="ios-pin-outline"></ion-icon> &nbsp;Muara Angke<br>
				</div>
				<button ion-button round class="button1">BELIKAN</button>
				</div>
				<div><br></div>
			</ion-slide>
			<ion-slide class="slide02">
				<div class="slide01">
				<div class="divSlide">
				<div class="fishName">UDANG</div>
				<div class="price">
				Rp 9.000/kg</div>
				<ion-icon ios="ios-time" md="md-time"></ion-icon> &nbsp;10 jam yang lalu<br>
				<ion-icon ios="ios-pin" md="ios-pin-outline"></ion-icon> &nbsp;Pangandaran<br>
				</div>
				<button ion-button round class="button1">BELIKAN</button>
				</div>
				<div><br></div>
			</ion-slide>
			<ion-slide class="slide02">
				<div class="slide01">
				<div class="divSlide">
				<div class="fishName">CUMI</div>
				<div class="price">
				Rp 12.000/kg</div>
				<ion-icon ios="ios-time" md="md-time"></ion-icon> &nbsp;3 jam yang lalu<br>
				<ion-icon ios="ios-pin" md="ios-pin-outline"></ion-icon> &nbsp;Tangerang<br>
				</div>
				<button ion-button round class="button1">BELIKAN</button>
				</div>
				<div><br></div>
			</ion-slide>
			<ion-slide class="slide02">
				<div class="slide01">
				<div class="divSlide">
				<div class="fishName">IKAN TUNA</div>
				<div class="price">
				Rp 22.000/kg</div>
				<ion-icon ios="ios-time" md="md-time"></ion-icon> &nbsp;5 jam yang lalu<br>
				<ion-icon ios="ios-pin" md="ios-pin-outline"></ion-icon> &nbsp;Tangerang<br>
				</div>
				<button ion-button round class="button1">BELIKAN</button>
				</div>
				<div><br></div>
			</ion-slide>			<ion-slide class="slide02">
				<div class="slide01">
				<div class="divSlide">
				<div class="fishName">IKAN TUNA</div>
				<div class="price">
				Rp 22.000/kg</div>
				<ion-icon ios="ios-time" md="md-time"></ion-icon> &nbsp;5 jam yang lalu<br>
				<ion-icon ios="ios-pin" md="ios-pin-outline"></ion-icon> &nbsp;Tanjung Kait<br>
				</div>
				<button ion-button round class="button1">BELIKAN</button>
				</div>
				<div><br></div>
			</ion-slide>
		</ion-slides>



<!--Customer - Registration Page-->
<br>
<br>
<br>
<br>
<br>

		<img class="logo" src="assets/imgs/bot.png" />
		<div class="chatADiv">
			Terima kasih atas pembelian Anda, untuk melanjutkan proses pembelian, mohon masukkan data yang dibutuhkan. Boleh kami tahu nama Anda?
		</div>
		<br>
		<ion-input type="text" placeholder="Masukkan nama lengkap Anda." [(ngModel)]="data" name="nama"></ion-input>
		<div class="chatADiv">
			Slider goes here.
		</div>
	</div>

</ion-content>