.tab-button{ 
	//max-width: 15%;
}

.tabs .tabbar {
	padding: 10px 10px 10px 26%;
}

.tabs .tabbar .badge {
	margin-right: 8px;
}


page-tabs {

    .ion-md-fish::before {
    	content: url(../assets/imgs/fish.svg);
    	width: 23px;
    	height: 23px;
    	transform: scaleX(-1);
    	padding-top: 3px;
    }

    .ion-md-basket::before {
    	content: url(../assets/imgs/basket.svg);
    	width: 24px;
        height: 24px;
    }

    .ion-md-cart::before {
        content: url(../assets/imgs/cart.svg);
        width: 23px;
        height: 23px;
    }
    .ion-md-person::before {
        content: url(../assets/imgs/user.svg);
        width: 40px;
        height: 40px;
    }
}