$cart-title-color: #01326B;
$cart-close-button-color: #D2D2D2;
$fish-name-color: #6AB4F5;
$price-color: #62B795;



page-cart-modal {
	.cart-modal:after { 
		content: ''; 
		position: absolute; 
		bottom: 0; 
		left: 50%; 
		width: 0; 
		height: 0; 
		border: 12px solid transparent; 
		border-top-color: white; 
		border-bottom: 0; 
		margin-left: 17%; 
		margin-bottom: -9px; 
	}
}


.cart-modal {
	background:white none; 
	height:87%;
	border-radius:0px 0px 20px 20px;
	margin: 0px 0px 0px 0px;
	box-shadow: 0 85px 0 rgba(0,0,0,.2);
}

.cart-close-button{
	font: bold 93%/100% 'Poppins', sans-serif;
	color:$cart-close-button-color;
	margin-top:-5.6px;
	padding:0;
	text-align:left;
}
.cart-title{
	font: bold 190%/100% 'Poppins', sans-serif;
	color: $cart-title-color;
	text-transform: uppercase;
	padding-bottom: 35px;
	margin: 0;
}
.commonTextGreen{
	font-size:1.1em;
	color:#65b598;
	font-family: 'Poppins', sans-serif;
	margin:0;
}
.cart-text1{
	font: bold 120%/100% 'Poppins', sans-serif;
	color: $fish-name-color;
	text-transform: uppercase;
	margin: 0;
}
.cart-text1a {
	color: #62B795;
	font-size: 90%;	
	margin-top: 24px;
}
.cart-text2{
	border: solid 1.5px #EDEDED; 
	border-radius: 12%; 
	text-align: center;
	height: 80%;
}
.cart-text3{
	font: 85%/100% 'Lekton', sans-serif;
	color: $price-color;
	padding: 6px 0px 10px 0px;
}
.cart-text4{
	font: 103%/100% 'Poppins', sans-serif;
	padding: 6px 0px 10px 0px;
}
.cart-text5{
	font: 85%/100% 'Lekton', sans-serif;
	color: $price-color;
	padding: 6px 0px 10px 0px;
	text-align: end;
}
.cart-text6{
	font: 103%/100% 'Poppins', sans-serif;
	padding: 12.5px 0px 10px 4px;
}
.cart-text7{
	position: absolute;
	right: 0;
	width: 75%;
	max-width: none;
	padding: 3%;
	border: solid 1.5px #EDEDED;
	border-radius: 5px;
	padding: 3px 10px 3px 10px;
}