<!-- <ion-header>
	<ion-navbar>
		<ion-title>Keranjang Belanja</ion-title>
		<ion-buttons end>
			
		</ion-buttons>
	</ion-navbar>
</ion-header> -->
<ion-content padding class="cart-modal">
	<ion-row>
		<ion-col col-10>
			<p class="cart-title">KERANJANG BELANJA</p>
		</ion-col>
		<ion-col col-2>
			<button ion-button icon-only clear (click)="closeModal()" class="cart-close-button">
				TUTUP
			</button>
		</ion-col>
	</ion-row>
	<div *ngFor="let list of global.cartList;index as listIndex">
		<ion-row>
			<ion-col col-12 class="text1">
				Dari <span class="cart-text1">{{list.namaTpi}}</span>
			</ion-col>
		</ion-row>
		<div *ngFor="let listIkan of list.dataIkan;index as listIkanIndex">
					<ion-row class="text1">
						<ion-col col-10 class="cart-text4">
							Ikan {{listIkan.namaIkan}} <button ion-button icon-only clear color="danger" style="padding: 0; margin: -10px 0 0 0; font-size: 10.75px;"(click)="clearItem(listIndex,listIkanIndex)">
						<ion-icon name="trash"></ion-icon>
					</button>
						</ion-col>
						<ion-col col-2 class="cart-text2">
							{{listIkan.nominalIkan}} kg
						</ion-col>				
					</ion-row>
					<ion-row>
						<ion-col col-7 class="cart-text3">
							Rp {{listIkan.hargaSatuanIDR}}/kg
						</ion-col>
						<ion-col col-5 class="cart-text5">
							Rp {{listIkan.hargaTotalIDR}}
						</ion-col>				
					</ion-row>
		</div>
		<ion-row class="text1">
			<ion-col col-4 class="cart-text6">
				Pengiriman
			</ion-col>
			<ion-col col-8>
				<ion-select [(ngModel)]="list.kurir" name="list.kurir" class="cart-text7">
					<ion-option *ngFor="let kurir of listKurir" value="{{kurir}}">{{kurir}}</ion-option>
				</ion-select>
			</ion-col>
		</ion-row>
		<hr>
		<ion-row>
			<ion-col col-7 class="cart-text3">
				TOTAL
			</ion-col>
			<ion-col col-5 class="cart-text5">
				Rp {{list.hargaTotalTpiIDR}}
			</ion-col>
		</ion-row>
		<ion-row class="text1">
			<button round ion-button class="button1" (click)="checkout(listIndex)">LANJUT PEMBAYARAN</button>
		</ion-row>
	</div>

</ion-content>