<!--<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
</ion-content>-->

<ion-header>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Open+Sans:800|Lekton:700" rel="stylesheet"> 
<!--  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>-->
</ion-header>


<ion-content padding>

<div name="fishCatalogue">
  <ion-list no-lines>
    <ion-item class="avatar1">
      <ion-avatar item-start>
        <img src="assets/imgs/bot.png">
      </ion-avatar>
    </ion-item>
    <ion-item text-wrap>
      <div class="text1">
        Selamat datang di IKANESIA! Ayo beli ikan kami, ikannya langsung dari nelayan, baru saja ditangkap dan masih sangat segar loh!
      </div>
    </ion-item>
    <ion-item class="avatar1">
      <ion-slides pager spaceBetween="10" slidesPerView="1.5">
        <ion-slide>
          <div class="slide01">
            <ul>
              <li>IKAN TUNA</li>
              <li>Rp 22.000/kg</li>
              <li><ion-icon name="time"></ion-icon> 5 jam yang lalu</li>
              <li><ion-icon name="pin"></ion-icon> Muara Karang</li>
              <li><button ion-button round class="button1">BELIKAN</button></li>
            </ul>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide01">
            <ul>
              <li>CUMI</li>
              <li>Rp 22.000/kg</li>
              <li><ion-icon name="time"></ion-icon> 5 jam yang lalu</li>
              <li><ion-icon name="pin"></ion-icon> Muara Karang</li>
              <li><button ion-button round class="button1">BELIKAN</button></li>
            </ul>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide01">
            <ul>
              <li>UDANG</li>
              <li>Rp 22.000/kg</li>
              <li><ion-icon name="time"></ion-icon> 5 jam yang lalu</li>
              <li><ion-icon name="pin"></ion-icon> Muara Karang</li>
              <li><button ion-button round class="button1">BELIKAN</button></li>
            </ul>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide01">
            <ul>
              <li>UDANG</li>
              <li>Rp 22.000/kg</li>
              <li><ion-icon name="time"></ion-icon> 5 jam yang lalu</li>
              <li><ion-icon name="pin"></ion-icon> Muara Karang</li>
              <li><button ion-button round class="button1">BELIKAN</button></li>
            </ul>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide01">
            <ul>
              <li>UDANG</li>
              <li>Rp 22.000/kg</li>
              <li><ion-icon name="time"></ion-icon> 5 jam yang lalu</li>
              <li><ion-icon name="pin"></ion-icon> Muara Karang</li>
              <li><button ion-button round class="button1">BELIKAN</button></li>
            </ul>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>
</div>


<div name="registration">
  <ion-list no-lines>
    <ion-item class="avatar1">
      <ion-avatar item-start>
        <img src="assets/imgs/bot.png">
      </ion-avatar>
    </ion-item>
    <ion-item text-wrap [ngClass]="{failed: regSuccess === false, success: regSuccess}">
      <div class="text1" [ngClass]="{text4: regSuccess === false || regSuccess}">
        {{regQ}}
      </div>
    </ion-item>
    <form style="text-align: right;" [formGroup]="formGroup">
      <ion-input *ngIf="!regSuccess" name="regInput" class="text1 text2" type="text" placeholder="{{regP}}" [(ngModel)] = "inputName" formControlName="regInput"></ion-input>
      <ion-item text-wrap *ngIf="regInput.hasError('required') && regInput.touched && !regSuccess" class="item1">
        <div class="text1 text3">
          {{regN}}
        </div>
      </ion-item>
      <button ion-button round class="button1 button2" (click)="custReg(); regInput.markAsUntouched()">{{regButton}}</button>
    </form>
  </ion-list>
</div>

{{counter}} {{custName}} {{custEmail}} {{custPwd1}} {{custPwd2}} {{custRand1}} {{custRand2}} {{regSuccess}}


<div class="speech-bubble">
    03 Fev 14
</div>

</ion-content>
