$main-background-color: #00487f;
$main-color: #46454C;
$fish-name-color: #6AB4F5;
$price-color: #62B795;
$input-color: #4EABBB;
$success-verification: #62B795;
$failed-verification: #F13564;
$pager: #A9BFD8;
$pager-active: #53A6D6;

page-contact {
	
}

ion-content {
	background-color: $main-background-color;  
	background-image: url('./../assets/imgs/bg-fish.jpg');
	font-family: 'Poppins',sans-serif; 
}

.avatar1 {
	background-color: transparent;
}

.text1 {
	font-size: 84.9%; 
}
.text2 {
	color: $input-color;
	font-size: 84.5%; 
	border-style: solid;
	border-width: 1.6px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.text3 {
	background-color: $failed-verification;
	color: white;
	font-size: 75%; 
}
.text4 {
	color: white;
}
.failed {
	background-color: $failed-verification;
}
.success {
	background-color: $success-verification;
}
.text-input::-moz-placeholder {
  color: $input-color;
  text-align: right;
}

.text-input:-ms-input-placeholder {
  color: $input-color;
  text-align: right;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: $input-color;
  text-align: right;
}


.item {
	border-radius: 12px;
	margin-bottom: 10px;
	color: $main-color;
}
.item1 {
	background-color: $failed-verification;
}

ion-slide {
	width: unset !important;
	font-family: 'Poppins',sans-serif;
}

.slide01 {
	background-color: white;
    border-radius: 12px;
   	margin-bottom: 28px;
   	padding: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 60%;
	line-height: 2.3;
}

li:first-child {
	font-family: 'Open Sans', sans-serif;
	color: $fish-name-color;
	font-size: 115%;
	line-height: -5;	
}

li:nth-child(2){
	font-family: 'Lekton', sans-serif;
	color: $price-color;
	font-size: 105%;
	letter-spacing: -0.5px;
	line-height: 0.3;
	padding-bottom: 10px;
}

li:last-child{
	text-align: center;
}

.button1 {
	background-color: $fish-name-color;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	height: 26.5px;
	margin-top: 5.5px;
}
.button2 {
	background-color: $input-color;
}

div.swiper-pagination {
	text-align: left;
}

.swiper-pagination-bullet {
background: $pager;
opacity: 1;
}

.swiper-pagination-bullet-active {
background: $pager-active;
opacity: 1;
}







.speech-bubble { 
	position: relative; 
	background: #00aabb; 
	border-radius: .4em; 
} 

.speech-bubble:after { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	left: 50%; 
	width: 0; 
	height: 0; 
	border: 12px solid transparent; 
	border-top-color: white; 
	border-bottom: 0; 
	margin-left: -9px; 
	margin-bottom: -9px; 
}