<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Poppins|Poppins:700|Open+Sans:800|Lekton:700" rel="stylesheet">
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <div>
          <div *ngFor="let chat of global.chatList;index as chatListIndex" [@flyInOut]="chat.state">
            <ion-item no-lines *ngIf="chat.type=='Pesan'" class="avatar1">
              <ion-avatar item-start>
                <img src="assets/imgs/bot.png">
              </ion-avatar>
            </ion-item>
            <div *ngIf="chat.type=='Pesan'" style="padding-right: 20%;">
              <ion-item text-wrap>
                <div class="text1">{{chat.text}}</div>
              </ion-item>
            </div>
            <div *ngIf="chat.type=='TombolAwal'" style="padding-right:20%;">
              <ion-item text-wrap no-lines style="background-color:transparent !important;">
                <ion-row>
                  <ion-col col-6>
                    <button ion-button round class="button1 button-bg2 button3" (click)="registration()">REGISTRASI</button>
                  </ion-col>
                  <ion-col col-6>
                    <button ion-button round class="button1 button-bg2 button3" (click)="login()">MASUK</button>
                  </ion-col>
                </ion-row>
              </ion-item>
            </div>
            <div *ngIf="chat.type=='paymentInfo'">
              <ion-item no-lines *ngIf="chat.type=='paymentInfo'" class="avatar1">
                <ion-avatar item-start>
                  <img src="assets/imgs/bot.png">
                </ion-avatar>
              </ion-item>
              <div style="padding-right: 20%;">
                <ion-item text-wrap>
                  <div class="text1">Nomor pemesanan Anda <span class="text5">#{{this.global.userID}}{{this.global.orderNumber}}</span>. Silakan transfer pembayaran Anda sebesar <span class="text5">Rp {{chat.text}}</span> ke <span class="text5">{{bankAccount}}</span>. Foto bukti struk pembayaran Anda dan kirim ke sini. Kami tunggu ya :).</div>
                </ion-item>
              </div>
              <div style="padding-left: 20%;">
                <button ion-button round class="button1 button-bg2 button3" (click)="paymentUpload()">MASUKKAN BUKTI PEMBAYARAN</button>
              </div>
            </div>

            <div *ngIf="chat.type=='AddPhone'">
              <ion-item no-lines *ngIf="chat.type=='AddPhone'" class="avatar1">
                <ion-avatar item-start>
                  <img src="assets/imgs/bot.png">
                </ion-avatar>
              </ion-item>
              <div style="padding-right: 20%;">
                <ion-item text-wrap>
                  <div class="text1">{{chat.text}}</div>
                </ion-item>
              </div>
              <div style="padding-left: 20%; text-align: right;">
                <form [formGroup]="addPhoneForm">
                  <ion-input *ngIf="this.global.custAddress == null" name="addAddress" class="text1 text2" type="text" placeholder="Alamat pemgiriman lengkap." [(ngModel)] = "address" formControlName="addAddress"></ion-input>
                  <ion-input *ngIf="this.global.custPhone == null" name="addPhoneNo" class="text1 text2" type="text" placeholder="Nomor dapat dihubungi." [(ngModel)] = "phone" formControlName="addPhoneNo"></ion-input>
                  <button *ngIf="this.global.custAddress == null || this.global.custPhone == null" ion-button round class="button1 button-bg2 button3 button4" (click)="addPhone()">KIRIM</button>
                </form>
                {{this.global.custAddress}} {{this.global.custPhone}}
              </div>
            </div>

            <div *ngIf="chat.type=='AddPhoneDone'">
              <ion-item no-lines *ngIf="chat.type=='AddPhoneDone'" class="avatar1">
                <ion-avatar item-start>
                  <img src="assets/imgs/bot.png">
                </ion-avatar>
              </ion-item>
              <div style="padding-right: 20%;">
                <ion-item text-wrap>
                  <div class="text1">{{chat.text}}</div>
                </ion-item>
              </div>
              <div style="padding-left: 20%; text-align: right;">
                <button ion-button round class="button1 button-bg2 button3" (click)="openCartModal();">LANJUT PEMBAYARAN</button>
              </div>
            </div>

            <div *ngIf="chat.type=='paymentUpload'">
              <ion-item no-lines *ngIf="chat.type=='paymentUpload'" class="avatar1">
                <ion-avatar item-start>
                  <img src="assets/imgs/bot.png">
                </ion-avatar>
              </ion-item>
              <div style="padding-right: 20%;">
                <ion-item text-wrap>
                  <div class="text1">{{chat.text}}</div>
                </ion-item>
              </div>
              <div style="padding-left: 20%; text-align: right;">
                <form [formGroup]="paymentUploadForm">
                  <ion-input *ngIf="!this.global.paymentUpload" name="accountName" class="text1 text2" type="text" placeholder="Nama Anda di rekening." [(ngModel)] = "accName" formControlName="accountName"></ion-input>
                  <ion-input *ngIf="!this.global.paymentUpload" name="accountNumber" class="text1 text2" type="text" placeholder="Nomor rekening Anda." [(ngModel)] = "accNumber" formControlName="accountNumber"></ion-input>
                  <ion-input *ngIf="!this.global.paymentUpload" name="orderNumber" class="text1 text2" type="text" placeholder="Nomor pemesanan Anda." [(ngModel)] = "orderNo" formControlName="orderNumber"></ion-input>
                  <button *ngIf="!this.global.paymentUpload" ion-button round class="button1 button-bg2 button3 button4" (click)="paymentConfirmation(chatListIndex)">KIRIM</button>
                </form>
                {{this.global.accName}} {{this.global.accNumber}} {{this.global.orderNo}} {{this.global.paymentUpload}}
              </div>
            </div>

            <div *ngIf="chat.type=='Registration'">
              <ion-item no-lines *ngIf="chat.type=='Registration'" class="avatar1">
                <ion-avatar item-start>
                  <img src="assets/imgs/bot.png">
                </ion-avatar>
              </ion-item>
              <ion-list no-lines>
                <div style="padding-right: 20%;">
                  <ion-item text-wrap [ngClass]="{failed: this.global.regSuccess === false, success: this.global.regSuccess}">
                    <div class="text1" [ngClass]="{text4: this.global.regSuccess === false || this.global.regSuccess}">
                      {{this.global.regQ}}
                    </div>
                  </ion-item>
                </div>
                <form style="text-align: right;" [formGroup]="formGroup" style="padding-left: 20%;">
                  <ion-input *ngIf="!this.global.regSuccess" name="regInput" class="text1 text2" type="text" placeholder="{{this.global.regP}}" [(ngModel)] = "inputName" formControlName="regInput"></ion-input>
                  <ion-item text-wrap *ngIf="regInput.hasError('required') && regInput.touched && !this.global.regSuccess" class="item1">
                    <div class="text1 text3">
                      {{this.global.regN}}
                    </div>
                  </ion-item>
                  <div style="text-align: right;">
                    <button *ngIf="!this.global.done && !this.global.checkout" ion-button round class="button1 button-bg2 button3 button4" (click)="registration(); regInput.markAsUntouched()">{{this.global.regButton}}</button>
                    <button *ngIf="!this.global.done && this.global.checkout" ion-button round class="button1 button-bg2 button3 button4" (click)="registration(); regInput.markAsUntouched()">{{this.global.regButton}}</button>
                    <button *ngIf="this.global.done && this.global.checkout" ion-button round class="button1 button-bg2 button3" (click)="openCartModal(); regInput.markAsUntouched()">{{this.global.regButton}}</button>
                  </div>
                </form>
              </ion-list>
              {{this.global.counter0}} {{this.global.custName}} {{this.global.custEmail}} {{this.global.custPwd1}} {{this.global.custPwd2}} {{this.global.custRand1}} {{this.global.custRand2}} {{this.global.regSuccess}}{{this.global.regQ}}
            </div>

          </div>

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-11 style="padding-left: 3%;">
        <ion-slides spaceBetween="10" slidesPerView="1.5">
          <ion-slide *ngFor="let chat of global.chatList" >
            <div *ngIf="chat.type=='Ikan'" class="slide01">
              <img [src]="chat.gambarIkan" style="width:100%;height:100px;border-radius: 12px 12px 0px 0px"/>
              <img src="assets/imgs/user.svg" style="width: 41.5px; height: 41.5px; border-radius: 100%; position: absolute; top: 75px; right: 12px; background-color: white;"/>
              <div padding>
                <ul> 
                  <li>{{chat.namaIkan}}</li>
                  <li>Rp {{chat.hargaIkanIDR}}/kg</li>
                  <li><ion-icon name="speedometer"></ion-icon> {{chat.stokIkan}}kg tersedia</li>
                  <li><ion-icon name="time"></ion-icon> {{chat.waktuTangkapanIkan}} jam yang lalu</li>
                  <li><ion-icon name="pin"></ion-icon> {{chat.namaTpi}}</li>
                  <li><button ion-button round class="button1" (click)="addToCart(chat)">BELIKAN</button></li>
                </ul>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<!--<ion-footer>
  <input class="textarea" *ngIf="showInputButton" type="text" placeholder="What do you want me to do?" [(ngModel)]="input" (keyup.enter)="processInput()"/>
  <ion-row style="padding-bottom:3%;">
    <ion-col col-4></ion-col>
    <ion-col col-2>-->
<!--       <button class="btn-transparent" ion-button clear icon-only>
        <ion-icon name="home"></ion-icon>
      </button> -->
<!-- </ion-col>
    <ion-col col-2>
      <button class="btn-transparent" ion-button clear icon-only>
        <ion-icon name="basket"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button class="btn-transparent" ion-button clear icon-only (click)="openCartModal()">
        <ion-icon name="cart">
          <ion-badge class="notifications-badge" color="danger" *ngIf="isCartCounterShow()">{{cartCounter}}</ion-badge>
        </ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button class="btn-transparent" ion-button clear icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>-->