$main-background-color: #00487f;
$main-color: #46454C;
$fish-name-color: #6AB4F5;
$price-color: #62B795;
$input-color: #4EABBB;
$success-verification: #62B795;
$failed-verification: #F13564;
$pager: #a9bfd8;
$pager-active: #53a6d6;


#custom-overlay
{
	
}


ion-content {
	background-color: $main-background-color;  
	background-image: url('./../assets/imgs/bg-fish.jpg');
	font-family: 'Poppins',sans-serif; 
}

.avatar1 {
	background-color: transparent;
}

.text1 {
	font-size: 84.9%; 
	color: $main-color;
}
.text2 {
	color: $input-color;
	font-size: 84.5%; 
	border-style: solid;
	border-width: 1.6px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.text3 {
	background-color: $failed-verification;
	color: white;
	font-size: 75%; 
}
.text4 {
	color: white;
}
.text5{
	font-weight: bold;
	color: $fish-name-color;
}
.failed {
	background-color: $failed-verification;
}
.success {
	background-color: $success-verification;
}
.text-input::-moz-placeholder {
  color: $input-color;
  text-align: right;
}

.text-input:-ms-input-placeholder {
  color: $input-color;
  text-align: right;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: $input-color;
  text-align: right;
}


ion-slide {
	border-radius: 12px;
	margin-bottom: 10px;
	color: $main-color;
}
.item1 {
	background-color: $failed-verification;
}

ion-slide {
	width: unset !important;
	font-family: 'Poppins',sans-serif;
}

.slide01 {
	background-color: white;
   	padding: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 60%;
	line-height: 2.3;
}

li:first-child {
	font: bold 130%/100% 'Poppins', sans-serif;
	color: $fish-name-color;
	text-transform: uppercase;
}

li:nth-child(5){
	text-transform: capitalize;
}

li:nth-child(2){
	font: 120%/100% 'Lekton', sans-serif;
	color: $price-color;
	padding: 6px 0px 10px 0px;
}

li:last-child{
	text-align: center;
}

.button-bg1 {
	background-color: $fish-name-color;
}
.button-bg2 {
	background-color: $input-color;
}

.button1 {
	font: bold 95%/100% 'Poppins', sans-serif;
	height: 30px;
	width: 100%;
	margin: 10px 0px 35px 0px;
}
.button2 {
	font: bold 80%/100% 'Poppins', sans-serif;
	height: 30px;
	width: 100%;
}
.button3 {
	font-size: 78%;
	height: 40px;
	margin: 15px 0px 15px 0px;
}
.button4 {
	width: 50%;
}
.button5 {
	font-size: 86%;
}

div.swiper-pagination {
	text-align: left;
}

.swiper-pagination-bullet {
background: $pager;
opacity: 1;
}

.swiper-pagination-bullet-active {
background: $pager-active;
opacity: 1;
}
