// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
    &[class*="appname-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
         width: 5em;
         height: 5em;
         mask-size: contain;
         mask-position: 100% 100%;
         mask-repeat: no-repeat;
         background: currentcolor;
    }
    // custom icons
    &[class*="appname-customicon1"] {
        mask-image: url(../assets/imgs/user.svg);
    }
    &[class*="appname-customicon2"] {
        mask-image: url(../assets/imgs/user.svg);
    }
    &[class*="appname-customicon3"] {
        mask-image: url(../assets/imgs/bot.png);
    }
}