page-shopping-modal {
	.cart-modal:after { 
		content: ''; 
		position: absolute; 
		bottom: 0; 
		left: 50%; 
		width: 0; 
		height: 0; 
		border: 12px solid transparent; 
		border-top-color: white; 
		border-bottom: 0; 
		margin-left: -1%; 
		margin-bottom: -9px; 
	}
}

line {
	stroke:#A0B3B7; 
	stroke-width: 1.75
}
.shopping {
	border: solid;
	border-width: 1.5px;
	border-color: #6AB4F5;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 5px;
	color: #6AB4F5;
	font-size: 92%;
}
#shopping-text1:after { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	left: 8.75px; 
	width: 0; 
	height: 0; 
	border: 4px solid transparent; 
	border-top-color: white;
	margin-bottom: 64px; 
}
#shopping-text1:before { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	left: 8.75px; 
	width: 0; 
	height: 0; 
	border: 4.1px solid transparent; 
	border-top-color: #6AB4F5;
	margin-bottom: 62.5px; 
}
#shopping-text2:after { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	left: 95px; 
	width: 0; 
	height: 0; 
	border: 4px solid transparent; 
	border-top-color: white;
	margin-bottom: 64px; 
}
#shopping-text2:before { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	left: 95px; 
	width: 0; 
	height: 0; 
	border: 4.1px solid transparent; 
	border-top-color: #6AB4F5;
	margin-bottom: 62.5px; 
}
#shopping-text3:after { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	left: 179px; 
	width: 0; 
	height: 0; 
	border: 4px solid transparent; 
	border-top-color: white;
	margin-bottom: 64px; 
}
#shopping-text3:before { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	left: 179px; 
	width: 0; 
	height: 0; 
	border: 4.1px solid transparent; 
	border-top-color: #6AB4F5;
	margin-bottom: 62.5px; 
}
#shopping-text4:after { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	left: 264px; 
	width: 0; 
	height: 0; 
	border: 4px solid transparent; 
	border-top-color: white;
	margin-bottom: 64px; 
}
#shopping-text4:before { 
	content: ''; 
	position: absolute; 
	bottom: 0; 
	left: 264px; 
	width: 0; 
	height: 0; 
	border: 4.1px solid transparent; 
	border-top-color: #6AB4F5;
	margin-bottom: 62.5px; 
}

.text6 {
	margin-top: -18px;
	padding-bottom: 10px;
}

.text7 {
	font-weight: 100;
	margin-right: 3.5px;
}

.text8 {
	text-align: right;
	font-size: 82%;
}