<!--
  Generated template for the ShoppingModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>shopping-modal</ion-title>
  </ion-navbar>

</ion-header>
-->

<ion-content padding class="cart-modal">
	<ion-row>
		<ion-col col-10>
			<p class="cart-title">STATUS PEMESANAN</p>
		</ion-col>
		<ion-col col-2>
			<button ion-button icon-only clear (click)="closeModal()" class="cart-close-button">
					TUTUP
			</button>
		</ion-col>
	</ion-row>
	<div *ngFor="let list of global.cartListCheckout;index as listIndex">
		<ion-row>
			<ion-col col-8 class="text1">
				Pemesanan <span class="cart-text1">#{{global.cartListCheckout[listIndex].orderNumber}}</span>	
			</ion-col>
			<ion-col col-4 class="cart-text3">
				{{global.cartListCheckout[listIndex].timestamp  | date: 'd/M/yy H:mm'}}
			</ion-col>
		</ion-row>
		<div *ngIf="global.cartListCheckout[listIndex].orderStatus==1">
			<ion-row>
				<ion-col col-12 class="text1">
					<div class="shopping" id="shopping-text1">
						Verifikasi pembayaran
					</div>
					<svg width="100%" height="60px">
					    <line stroke-dasharray="5, 2.5" x1="15" y1="20" x2="92" y2="20"></line>
					    <line stroke-dasharray="5, 2.5" x1="100" y1="20" x2="177" y2="20"></line>
					    <line stroke-dasharray="5, 2.5" x1="185" y1="20" x2="262" y2="20"></line>
						<circle cx="7.5" cy="20" r="6" stroke="#6AB4F5" stroke-width="2" fill="#6AB4F5" />
					    <circle cx="93" cy="20" r="6.15" stroke="#A0B3B7" stroke-width="2" fill="white" />
					    <circle cx="178" cy="20" r="6.15" stroke="#A0B3B7" stroke-width="2" fill="white" />
					    <circle cx="263" cy="20" r="6.15" stroke="#A0B3B7" stroke-width="2" fill="white" />
					</svg>
				</ion-col>
			</ion-row>
			<div *ngFor="let listIkan of list.dataIkan;index as listIkanIndex" class="text6">
				<ion-row class="text1">
					<ion-col col-7 class="cart-text4">
						Ikan {{listIkan.namaIkan}} 
					</ion-col>
					<ion-col col-5 class="cart-text4 text8">
						{{listIkan.nominalIkan}} kg
					</ion-col>				
				</ion-row>
				<ion-row>
					<ion-col col-7 class="cart-text3">
						Rp {{listIkan.hargaSatuanIDR}}/kg
					</ion-col>
					<ion-col col-5 class="cart-text5">
						Rp {{listIkan.hargaTotalIDR}}
					</ion-col>
				</ion-row>
				<button ion-button round class="button1 button-bg2 button3" (click)="deliveryConfirmation()"><span class="text7">HUBUNGI NELAYAN:</span>{{listIkan.fishermanPhoNumber}} </button>
			</div>
			<ion-row>
				<ion-col col-7 class="cart-text3">
					TOTAL
				</ion-col>
				<ion-col col-5 class="cart-text5">
					Rp {{list.hargaTotalTpiIDR}}
				</ion-col>
			</ion-row>
			<hr style="background-color: white;" class="line2 line3 text6" />
			<br>
		</div>
		<div *ngIf="global.cartListCheckout[listIndex].orderStatus==2">
			<ion-row>
				<ion-col col-12 class="text1">
					<div class="shopping" id="shopping-text2">
						Pesanan diterima Nelayan
					</div>
				<svg width="100%" height="60px">
				    <line x1="15" y1="20" x2="92" y2="20"></line>
				    <line stroke-dasharray="5, 2.5" x1="100" y1="20" x2="177" y2="20"></line>
				    <line stroke-dasharray="5, 2.5" x1="185" y1="20" x2="262" y2="20"></line>
					<circle cx="7.5" cy="20" r="6" stroke="#A0B3B7" stroke-width="2" fill="#A0B3B7" />
				    <circle cx="93" cy="20" r="6.15" stroke="#6AB4F5" stroke-width="2" fill="#6AB4F5" />
				    <circle cx="178" cy="20" r="6.15" stroke="#A0B3B7" stroke-width="2" fill="white" />
				    <circle cx="263" cy="20" r="6.15" stroke="#A0B3B7" stroke-width="2" fill="white" />
				</svg>
				</ion-col>
			</ion-row>
			<button ion-button round class="button1 button-bg2 button3 text6" (click)="deliveryConfirmation()"><span class="text7">HUBUNGI NELAYAN:</span>{{this.global.cartListCheckout[listIndex].fishermanPhoNumber}}</button>
		</div>
		<div *ngIf="global.cartListCheckout[listIndex].orderStatus==3">
			<ion-row>
				<ion-col col-12 class="text1">
					<div class="shopping" id="shopping-text3">
						Pesanan sedang diambil/diantar
					</div>
				<svg width="100%" height="60px">
				    <line x1="15" y1="20" x2="92" y2="20"></line>
				    <line x1="100" y1="20" x2="177" y2="20"></line>
				    <line stroke-dasharray="5, 2.5" x1="185" y1="20" x2="262" y2="20"></line>
					<circle cx="7.5" cy="20" r="6" stroke="#A0B3B7" stroke-width="2" fill="#A0B3B7" />
				    <circle cx="93" cy="20" r="6" stroke="#A0B3B7" stroke-width="2" fill="#A0B3B7" />
				    <circle cx="178" cy="20" r="6" stroke="#6AB4F5" stroke-width="2" fill="#6AB4F5" />
				    <circle cx="263" cy="20" r="6.15" stroke="#A0B3B7" stroke-width="2" fill="white" />
				</svg>
				</ion-col>
			</ion-row>
			<button ion-button round class="button1 button-bg2 button3 text6" (click)="deliveryConfirmation(listIndex)">TAP UNTUK KONFIRMASI PENERIMAAN</button>
		</div>
		<div *ngIf="global.cartListCheckout[listIndex].orderStatus==4">
			<ion-row>
				<ion-col col-12 class="text1">
					<div class="shopping" id="shopping-text4">
						Pesanan diterima Pembeli
					</div>
					<svg width="100%" height="60px">
					    <line x1="15" y1="20" x2="92" y2="20"></line>
					    <line x1="100" y1="20" x2="177" y2="20"></line>
					    <line x1="185" y1="20" x2="262" y2="20"></line>
						<circle cx="7.5" cy="20" r="6" stroke="#A0B3B7" stroke-width="2" fill="#A0B3B7" />
					    <circle cx="93" cy="20" r="6" stroke="#A0B3B7" stroke-width="2" fill="#A0B3B7" />
					    <circle cx="178" cy="20" r="6" stroke="#A0B3B7" stroke-width="2" fill="#A0B3B7" />
					    <circle cx="263" cy="20" r="6" stroke="#6AB4F5" stroke-width="2" fill="#6AB4F5" />
					</svg>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>
