<!--
  Generated template for the ProfileModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>profile-modal</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding class="cart-modal">
	<ion-row>
		<ion-col col-10>
			<p class="cart-title">PROFIL</p>
		</ion-col>
		<ion-col col-2>
			<button ion-button icon-only clear (click)="closeModal()" class="cart-close-button">
				TUTUP
			</button>
		</ion-col>
	</ion-row>
	<div *ngIf="global.fullname==null">
		<ion-row>
			<ion-col class="text1">
				Silakan masuk terlebih dahulu untuk mendapatkan akses ke semua fitur di IKANESIA.
				<br/><br/>
				<form [formGroup]="loginForm">
					<ion-input name="emailAdd" class="text1 text2" type="text" placeholder="Ketik email" [(ngModel)] = "email" (ngModelChange)="email = $event.toLocaleLowerCase()" formControlName="emailAdd"></ion-input>
					<ion-item text-wrap *ngIf="emailAdd.hasError('required') && emailAdd.touched" class="item1">
						<div class="text1 text3">
                      		Mohon masukkan email terdaftar Anda.
                    	</div>
                  	</ion-item>
					<ion-input name="password" class="text1 text2" type="password" placeholder="Ketik kata sandi" [(ngModel)] = "pass"  formControlName="password"></ion-input>
					<ion-item text-wrap *ngIf="password.hasError('required') && password.touched" class="item1">
						<div class="text1 text3">
                      		Mohon masukkan kata sandi Anda.
                    	</div>
                  	</ion-item>
                  	<ion-item text-wrap *ngIf="loginText" class="item1">
						<div class="text1 text3">
                      		Email / kata sandi yang Anda masukkan salah. Mohon coba kembali.
                    	</div>
                  	</ion-item>
				</form>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-6 class="cart-text1 cart-text1a">
				LUPA KATA SANDI
			</ion-col>
			<ion-col col-6>
				<button ion-button round class="button1 button-bg2 button3" (click)="login()">MASUK</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<hr style="background-color: white;" class="line1" />
				<button ion-button round class="button1 button3 button5" (click)="registration()">REGISTRASI</button>
				<hr style="background-color: white;" class="line1" />
			</ion-col>
		</ion-row>
	</div>
	<div *ngIf="global.fullname!=null && !edit">
		<ion-row>
			<ion-col>
				<div class="cart-text3">
					NAMA LENGKAP
				</div>
				<div class="text1" style="text-transform: capitalize;">
					{{global.fullname}}
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<hr style="background-color: white;" class="line1 line2" />
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class="cart-text3">
					EMAIL
				</div>
				<div class="text1">
					{{global.custEmailAdd}}
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<hr style="background-color: white;" class="line1 line2" />
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class="cart-text3">
					TELEFON
				</div>
				<div class="text1">
					{{global.custPhone}}
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<hr style="background-color: white;" class="line1 line2" />
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class="cart-text3">
					ALAMAT
				</div>
				<div class="text1">
					{{global.custAddress}}
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<hr style="background-color: white;" class="line1 line2" />
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-6>
				<button ion-button round class="button1 button3" (click)="editData()">UBAH DATA</button>
			</ion-col>
			<ion-col col-6>
				<button ion-button round class="button1 button-bg2 button3" (click)="logout()">KELUAR</button>
			</ion-col>
		</ion-row>
	</div>
	<div *ngIf="global.fullname!=null && edit">
		<form [formGroup]="editForm">
			<ion-row>
				<ion-col>
					<div class="cart-text3">
						NAMA LENGKAP
					</div>
					<div class="text1">
						<ion-input name="editName" class="text1 text2" type="text" placeholder="{{global.fullname}}" [(ngModel)] = "name" formControlName="editName"></ion-input>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<hr style="background-color: white;" class="line1 line2" />
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="cart-text3">
						EMAIL
					</div>
					<div class="text1">
						<ion-input name="editEmail" class="text1 text2" type="text" placeholder="{{global.custEmailAdd}}" [(ngModel)] = "updateEmail" formControlName="editEmail"></ion-input>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<hr style="background-color: white;" class="line1 line2" />
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="cart-text3">
						TELEFON
					</div>
					<div class="text1">
						<ion-input name="editPhone" class="text1 text2" type="text" placeholder="{{global.custPhone}}" [(ngModel)] = "phone" formControlName="editPhone"></ion-input>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<hr style="background-color: white;" class="line1 line2" />
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="cart-text3">
						ALAMAT
					</div>
					<div class="text1">
						<ion-input name="editAddress" class="text1 text2" type="text" placeholder="{{global.custAddress}}" [(ngModel)] = "address" formControlName="editAddress"></ion-input>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<hr style="background-color: white;" class="line1 line2" />
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>
					<button ion-button round class="button1 button3" (click)="saveData(false)">BATAL</button>
				</ion-col>
				<ion-col col-6>
					<button ion-button round class="button1 button-bg2 button3" (click)="saveData(true)">SIMPAN</button>
				</ion-col>
			</ion-row>
		</form>
	</div>


</ion-content>
