page-profile-modal {
	.cart-modal:after { 
		content: ''; 
		position: absolute; 
		bottom: 0; 
		left: 50%; 
		width: 0; 
		height: 0; 
		border: 12px solid transparent; 
		border-top-color: white; 
		border-bottom: 0; 
		margin-left: 35%; 
		margin-bottom: -9px; 
	}
}

.line1 {
	border-bottom: 1.5px dashed #ccc;
}

.line2 {
	margin: 5px 0px 5px 0px;
}

.line3 {
	border-bottom: 1px dashed #ccc;
}