<!--
  Generated template for the Test1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>test1</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<h1>{{testone}}</h1>

	<ion-item text-wrap>
      <div class="text1">
        {{regQ}}
      </div>
    </ion-item>
    <form style="text-align: right;">
      <ion-input name="regInput" class="text1 text2" type="text" placeholder="{{regP}}" [(ngModel)] = "inputName"></ion-input>
      <ion-item text-wrap class="item1">
        <div class="text1 text3">
          {{regN}}
        </div>
      </ion-item>
      <button ion-button round class="button1 button2" (click)="custReg()">{{regButton}}</button>
    </form>
    {{counter}} {{custName}} {{custEmail}} {{custPwd1}} {{custPwd2}} {{custRand1}} {{custRand2}}

    <ion-icon name="appname-customicon2"></ion-icon>
    <img src="/assets/imgs/user.svg"/>
</ion-content>
